.navbar-box{
    position: sticky;
    top: 0;
    z-index: 1000;
    
}
.navbar {
    position: absolute;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    align-items: center;
   
}

.navbar .logo {
    font-family: "Pacifico", sans-serif;
    text-decoration: none;
    color: #fff;
    padding-left: 7rem;
    font-size: 3rem;
}

.navbar .menu-icon-lines {
    display: flex;
    width: 3rem;
    height: 35px;
    justify-content: space-between;
    padding: 1px 1px;
    cursor: pointer;
    
}

.navbar .icon-line {
    width: 2.5px;
    height: 3rem;
    background: #fff;
}

.navbar .menu-items a {
    color: #fff;
    font-size: 1.5rem;
    display: block;
    margin: 8rem 0;
}


// side nav
.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    background-color: #33b5e5;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: .5s;
    z-index: 10001;
}
.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    display: block;
    transition: .3s;/*for the menu to open smoothly*/
}
.side-nav a:hover{
    color: #f3f3f3;
    text-decoration: underline;
}
.side-nav .btn-close{
    position: absolute;
    top: 0;
    right: 80%;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none !important;
    
}

#start{
    position: relative;
    .page-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #333;
        z-index: 1000;
        opacity: 0.6;
        
        display: none;
    }
}