
.underline {
    color: #000000bf;
    border-bottom: 0.1rem solid currentColor;
    display: inline-block;
    line-height: 0.84;
    font-style: italic;
    font-weight: 600;
}

.shadow{
    box-shadow: 5px 5px 5px #333;
}