section#team{
    .teamTitleBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .teamTitle{
        text-align: center;
        font-size: 4rem;
        font-weight: 400;
        
    }
    .line{
        height: 2px;
        width: 4rem;
        background-color: #10b6f3;
    }
    .teamMembers{
        display: flex;
        padding: 2rem;
        justify-content: space-evenly;
        align-items: center;
        
        .member{
            list-style: none;
            border-radius: 50%;
            
            .memberPhoto{
                width: 200px;
                border-radius: 50%;

            }
        }
    }
}



.pimg{
    position: relative;
    opacity: 0.70;
    background-position:center/center;
    background-size: cover;
    background-repeat: no-repeat;
    /*fixed for parallex view*/
    background-attachment: fixed;
    height: 100vh;
   
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s filter ease-in-out;
-webkit-transition: .5s -webkit-filter ease-in-out;
-moz-transition: .5s -moz-filter ease-in-out;
-ms-transition: .5s -ms-filter ease-in-out;
-o-transition: .5s -o-filter ease-in-out;

    .captionText{
        position: absolute;
        bottom: 1rem;
        color: #fff;
        font-weight: 600;
        left: 1rem;
        font-size: 1.3rem;
        z-index: 3;
        
    }

    .bottomOverlay{
        position: absolute;
        bottom: 0;
        height: 7%;
        background-color: rgba(51, 51, 51, 0.432);
        z-index: 2;
        width: 100%;
       
     
    }
}

.pimg:hover{
    filter: blur(0);
    -webkit-filter: blur(0);
}

.pimg2{
    background-image: url(../img/introduction/destruccio1.jpg?nf_resize=fit&w=1500&h=1000);
    
}

.pimg3{
    background-image: url(../img/introduction/Esperança.jpg?nf_resize=fit&w=1500&h=1000);
    background-position:center;
    
}
.pimg4{
    background-image: url(../img/introduction/diala2.jpg?nf_resize=fit&w=1500&h=1000);
    background-position:center;
    
}
.pimg5{
    background-image: url(../img/introduction/Diala.jpg?nf_resize=fit&w=1500&h=1000);
    background-position:center;
    
}
.pimg6{
    background-image: url(../img/introduction/Khaled.jpg?nf_resize=fit&w=1500&h=1000);
    background-position:center;
    
}
.pimg7{
    background-image: url(../img/introduction/Arrels.jpg?nf_resize=fit&w=1500&h=1000);
    background-position: center center;

}
.pimg8{
    background-image: url(../img/introduction/Foto5.png?nf_resize=fit&w=1500&h=1000);
    background-position:right;
    
}
.pimg9{
    background-image: url(../img/introduction/Foto3.1.jpg?nf_resize=fit&w=1500&h=1000);
    background-position:center;
    
}
.sectionIntro{
     padding: 50px 80px;
     background-color: #fff;
     line-height: 1.7;
     overflow-wrap: break-word;
     word-wrap: break-word;
     word-break: break-word;
 }

 @media (max-width:568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
} 

section.sectionIntro div.text-box{
    width: 600px;
    margin: auto;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.75);
    fill: rgba(0, 0, 0, 0.75);
    font-weight: 400;
}

@media only screen and (max-width:701px){
    section.sectionIntro div.text-box{
        width: 400px;
        font-size: 1.8rem;
       
        
    }
    .sectionIntro{
        padding: 1rem;
    }

}
@media only screen and (max-width:500px){
    section.sectionIntro div.text-box{
        width: 350px;
        font-size: 1.8rem;
       
        
    }
    .sectionIntro{
        padding: 2rem 1.1rem;
    }

}

section.sectionIntro h1.intro-head{
    position: relative;
    text-align: center;
    
    font-size: 3rem;
    font-weight: 600;
    
    padding: .5rem;
}
section.sectionIntro .head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 3rem;
}
section.sectionIntro .head .line{
    background: #10b6f3;
    height: 4px;
    width: 7rem;
}

.goto{
    display: none;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
background: #10b6f3;
border-radius: 10px;
z-index: 1000;
font-size: 1.4rem;
        padding: 1.5rem 1.7rem 1.5rem 1.5rem;
        animation-duration: 5s;
        animation-delay: 5s;
        animation-iteration-count: 10;


    a{
        
        
        color: #fff;
    }

}

.appear{
    display: block;
}

